.main{
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.9;
}
.logo{
    width: auto;
    height: auto;
}
#logo_livebook{
    margin-top: 18vh;
    width: 640px;
    height: 160px;
}
@media screen and (max-width: 540px) {
    #logo_livebook{
        margin-top: 18vh;
        width: 250px;
        height: 60px;
    }
}
.search{
    width: auto;
    height: 8vh;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.alpha{
    opacity: 0%;
}

/** changing css */
.input_main{
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    position: relative;
    background-color: white;
}
.input_top_box {
    width: auto;
    height: auto;
    display: flex;
    margin-top: 40px;
}
.input_logo{
    float: left;
    display: flex;
    width: auto;
    height: auto;
    margin-left: 150px;
}
#input_logo_livebook{
    width: 220px;
    height: 65px;
    cursor: pointer;
}
.input_search{
    float: left;
    width: auto;
    height: auto;
    margin-left: 70px;
}
.input_searchValue{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.input_down_box {
    clear: both;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.input_searchListBox{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}